<script>
    $(document).ready(function () {
        {% if site.google_scholar_stats_use_cdn %}
        var gsDataBaseUrl = 'https://cdn.jsdelivr.net/gh/{{ site.repository }}@'
        {% else %}
        var gsDataBaseUrl = 'https://raw.githubusercontent.com/{{ site.repository }}/'
        {% endif %}
        $.getJSON(gsDataBaseUrl + "google-scholar-stats/gs_data.json", function (data) {
            // var totalCitation = data['citedby']
            // document.getElementById('total_cit').innerHTML = totalCitation;
            var citationEles = document.getElementsByClassName('show_paper_citations')
            Array.prototype.forEach.call(citationEles, element => {
                var paperId = element.getAttribute('data')
                var numCitations = data['publications'][paperId]['num_citations']
                var scholarId = data['scholar_id']
                element.innerHTML = "<a href='https://scholar.google.com/citations?view_op=view_citation&user="
                                 + scholarId + "&citation_for_view=" + paperId 
                                 + "'><img src='https://img.shields.io/endpoint?logo=Google%20Scholar&url=https%3A%2F%2Fcdn.jsdelivr.net%2Fgh%2FKaiHu-KH%2FKaiHu-KH.github.io@google-scholar-stats%2F" + paperId
                                 + "_gs_data_shieldsio.json&labelColor=f6f6f6&color=9cf&style=flat&label=citations'></a>";
            });
        });
    })
</script>