---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
            <!-- Add the map script here -->
            <div style="text-align: center; width: 33%; margin: 0 auto;">
              <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=SwBnLWQW5E2AHSUa_V-An1nJ3peeLTzcrVtZOAXB7u0&cl=ffffff&w=a" target="_blank"></script>
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>
</html>
